$secondary: #fff;

.codex-editor__redactor {
  padding-bottom: 0px !important;
}

.paper-sheet {
  
  display: flex;
  min-height: 100vh;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  background:  var(--secondary);
  border-radius: 7px;
  box-shadow: 9px 12px 20px 4px rgba(0, 0, 0, 0.13), 7px 7px 12px 2px rgba(0, 0, 0, 0.08), 0 2px 0px 0px #eee;
  border: 1px solid #f2f2f2;
  margin: 40px auto;
  padding: 15px;
  max-width: 85%;
  min-height: 600px;
  position: relative;
  overflow: visible;
  background-image: radial-gradient(#5e63716f 0.5px, #ffffff 0.5px);
  background-size: 11px 11px;
}


.paper-sheet > * {
  position: relative;
  z-index: 10;
}

.sidebar-nav {
  flex-basis: 190px;
  flex-shrink: 0;
  border-left: 1px solid #b5acac;
  border-top: 1px solid #b5acac;
  border-bottom: 1px solid #b5acac;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 5px 0 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.blog-main {
  flex: 2 1 25%;
  min-width: 0;
  padding: 5px 20px;
  border: 1px solid #b5acac;
}
.page-sidebar {
  flex: 1 1 0%;
  min-width: 0;
  border-top: 1px solid #b5acac;
  border-bottom: 1px solid #b5acac;

}
@media (max-width: 900px) {
  .sidebar-nav, .page-sidebar {
    display: none;
  }
  .blog-main {
    flex: 1 1 100%;
    padding: 0 12px;
  }
}



.capitulos-item {
  list-style: none;
  margin: 5px;
  color: #818896;
  border-radius: 0.375rem;
  padding: 0;
  transition: background 0.15s;
  font-weight: 600;
}

.capitulo-activo {
  background-color: #f0f7ff;
  color: #006be6;

}

.capitulo-btn {
  width: 100%;
  text-align: left;
  padding: 10.5px 24px;
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  font-size: 1.1em;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background 0.15s, color 0.15s;
}

.capitulos-item:not(.capitulo-activo):hover,
.capitulos-item:not(.capitulo-activo):focus-within {
  background-color: #eff0f1;
  color: #232629;
}

.sidebar-content {
  position: relative;
  padding: 0 16px 16px 16px;
  font-size: 1em;
  background: transparent;
  min-height: 100vh;
  max-width: 30vh;
}



.sidebar-notes-container {
  position: relative;
  min-height: 80px;
  margin-bottom: 16px;
}

.tab-notes-list {
  position: relative;
  width: 230px;
  padding: 0;
  margin: 0;
}

.tab-note {
  position: relative;
  z-index: 1;
  width: 190px;
  min-height: 60px;
  height: auto;
  margin-bottom: 14px;
  overflow: visible;
  right: -30px;
  border-radius: 12px 15px 15px 12px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #d2d2d2;
  display: flex;
  align-items: center;
  padding:0 30px 0 30px;
  
  transition: transform 0.1s, box-shadow 0.1s;
}

.tab-note:hover {
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.16);
  transform: scale(1.045) translateX(-2px) translateY(-2px);
  z-index: 10;
}

.tab-note-link {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.tab-note-tab {
  position: absolute;
  top: 12px;
  right: 0;
  width: 32px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 0.8em;
  color: #444;
  letter-spacing: 1px;
  font-family: 'Courier New', Courier, monospace;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 0 0 18px 12px;
  z-index: 3;
  user-select: none;
  box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.04);
}

.tab-note-title {
  z-index: 10;
  font-size: 0.85em;
  color: #333;
  letter-spacing: 0.5px;
  flex: 1;
  padding-right: 38px;
  font-family: 'Segoe UI', 'Arial', sans-serif;
  font-weight: 500;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.54);
  white-space: normal;
  word-break: break-word;
  overflow: visible;
}


.tab-color-0 {
  background: linear-gradient(to right,
      #ffe4b3 0%,
      #ffe4b3 80%,
      #ffe4b3a8 100%);
}

.tab-color-1 {
  background: linear-gradient(to right,
      #ffd6e0 0%,
      #ffd6e0 80%,
      #ffd6e0a5 100%);
}

.tab-color-2 {
  background: linear-gradient(to right,
      #d4f5ff 0%,
      #d4f5ff 80%,
      #d4f5ffa8 100%);
}

.tab-color-3 {
  background: linear-gradient(to right,
      #D0FFD6 0%,
      #D0FFD6 70%,
      #d0ffd6a3 100%);
}

.tab-color-4 {
  background: linear-gradient(to right,
      #FFFACD 0%,
      #FFFACD 70%,
      #fffacda8 100%);
}

.tab-note:hover {
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.16);
  transform: scale(1.01) translateX(-2px) translateY(-2px);
}




.chapter-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0 0 0;
  padding: 24px 0 0 0;
  text-decoration: none;
  border-top: 1px solid #e5e7eb;
}

.chapter-link {
  align-items: center;
  color: #445162;
  font-size: 1.16em;
  font-weight: 500;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.chapter-link:hover {
  color: #2563eb;
}

.chapter-link.prev .arrow {
  font-size: 1.45em;
  margin-right: 0.3em;
}

.chapter-link.next .arrow {
  font-size: 1.45em;
  margin-left: 0.3em;
}

.chapter-gap {
  flex: 1;
}